[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/boalex851
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/boalex851
	label-Verified = -1..+1 group user/boalex851
	push = group user/boalex851
	read = group user/boalex851
	rebase = group user/boalex851
	removeReviewer = group user/boalex851
	submit = group user/boalex851
[access "refs/heads/*"]
	create = group user/boalex851
	push = +force group user/boalex851
	pushMerge = group user/boalex851
	read = group user/boalex851
[access "refs/tags/*"]
	push = group user/boalex851
	push = +force group user/boalex851
